.navegacao{
    display: flex;  
    justify-content: space-between;
    padding: 35px;  
}
.lado-esquerdo{
    display: flex;
}
.navegacao>.lado-esquerdo>.div {
    
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 15px;
}