/* Master Styles */
body {
    margin: 0px;
    background: linear-gradient(45deg, #3f023f, #7990a5)
}

.container {
    display: grid;
    grid-auto-columns: 1fr;
}

/* Navigation Styes */ 
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;

}
.nav-wrapper>.right-side{
    color: #FFFAFA;
}
.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s; 
}
.nav-link-wrapper:hover{
    transform: scale(1.3);
}
.nav-link-wrapper a {
    color:#FFFAFA;
        text-decoration: none;
    transition: color 0,5;

}
.nav-link-wrapper a:hover {
    border-bottom: 1px solid rgb(238, 240, 239)
}

.right-side:hover{
    transform: scale(1.3);
}

.content-wrapper:hover{

}
}
/* Potfolio Styles */
